@font-face {
    font-family: "ubunto";
    src: url(/assets/fonts/ubunto/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "ubunto";
    src: url(/assets/fonts/ubunto/Ubuntu-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "ubunto";
    src: url(/assets/fonts/ubunto/Ubuntu-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "ubunto";
    src: url(/assets/fonts/ubunto/Ubuntu-Bold.ttf);
    font-weight: bold;
}