// -------------------
// Vars
// -------------------

// Fonts
$fontSizeBase: 16px;

// Main Collor pallet
$ueBlue: #0d6efd;
$ueGray: #eee;
$ueDarkGray: #373737;
$ueLightGray: #FCFCFC;
$ueWhite: #fff;

// Borders
$ueBorderRadius: 5px;

// Links
$linksColor: #308ee6;

// Text
$textColorBase: $ueDarkGray;

// Loader Colors
$loaderColor1: $ueDarkGray;
$loaderColor2: $ueBlue;