<div class="ue-page">
    <div class="container">
        <header class="ue-page__header">
            <h2 class="ue-page__title">Trending</h2>
        </header>

        <section class="ue-page__body">
            <ul class="ue-gifs row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <li class="ue-gifs-item col" *ngFor="let item of giphyTrendingItems">
                    <img class="ue-gifs-item__img" [src]="item.images.preview_gif.url" [alt]="item.id">
                </li>
            </ul>

            <ngb-pagination *ngIf="giphyPagination" [collectionSize]="giphyPagination.total_count" [(page)]="currentPage" [maxSize]="3" [boundaryLinks]="true" (pageChange)="onChangePage()"></ngb-pagination>
        </section>
    </div>
</div>