<div class="ue-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="ue-page__aside">
                    <app-giphy-search-engine></app-giphy-search-engine>
                </div>
            </div>
            <div class="col-sm-9">
                <header class="ue-page__header">
                    <h2 class="ue-page__title">{{buildTitle() | titlecase}}</h2>
                </header>
        
                <div class="ue-page__body">
                    <ng-container *ngIf="!isLoadingData; else giphyItemsLoadingState">
                        <ng-container *ngIf="!giphyItemsError; else giphyItemsErrorState">
                            <ng-container *ngIf="giphyItems.length; else giphyItemsEmptyState">
                                <ul class="ue-gifs row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                    <li class="ue-gifs-item col" *ngFor="let item of giphyItems">
                                        <img class="ue-gifs-item__img" [src]="item.images.preview_gif.url" [alt]="item.id">
                                    </li>
                                </ul>
                    
                                <ngb-pagination *ngIf="giphyPagination" [collectionSize]="giphyPagination.total_count" [(page)]="currentPage" [maxSize]="3" [boundaryLinks]="true" (pageChange)="onChangePage()"></ngb-pagination>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
       
    </div>
</div>

<ng-template #giphyItemsLoadingState>
    Loading...
</ng-template>

<ng-template #giphyItemsErrorState>
    Something went wrong, try again later.
</ng-template>

<ng-template #giphyItemsEmptyState>
    No results found, try to search by a different term.
</ng-template>